.calculator{
    background: #000000;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}
.keys button {
    background-color: transparent;
    color: white;
    border-radius: 30px;
    font-size: 1.5em;
}

.keys{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 60px;
    grid-gap: 1em;
    padding: 3px;
    justify-items: stretch;
    align-items: stretch;
}
.display{
    display: grid;
    grid-column: 1/4;
    grid-auto-rows: minmax(200px, auto);
    padding: 3px;

}
.displayText{
    background-color: #04d4b5;
    border-radius: 10px;
    font: 40px Arial, sans-serif;
    width:386px;
}

.zero {
    grid-column: 1/3;
}
.history{
    position: relative;
    display: inline-block;
}
.historyButton{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.keys button:hover {
  background-color: #57595c;
  color: white;
}
.keys  .operator {
  background-color: #04d4b5;
  color: white;
}
.keys  .operator:hover {
  background-color: #0af2cf;
  color: white;
}