<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
    <title>Calculator</title>
</head>
<body>

<div class="calculator">

    <div class="display">
        <input type="hidden" th:field="${userhistory.id}">
        <input type="text" class="display" th:field="${userhistory.result}">
    </div>

    <div class="keys">
        <button type="button" class="operator root">√x</button>
        <button type="button" class="operator ce">CE</button>
        <button type="button" class="operator c">C</button>

        <a th:href="@{/calculator/history}" class="history"><button type="button" class="operator historyButton">HIS</button></a>

        <button type="button" class="operator percent">%</button>
        <button type="button" class="operator rightParen">]</button>
        <button type="button" class="operator leftParen">[</button>
        <button type="button" class="operator divide">÷</button>
        <button type="button" class="number seven">7</button>
        <button type="button" class="number eight">8</button>
        <button type="button" class="number nine">9</button>
        <button type="button" class="operator multiply">X</button>
        <button type="button" class="number four">4</button>
        <button type="button" class="number five">5</button>
        <button type="button" class="number six">6</button>
        <button type="button" class="operator subtract">-</button>
        <button type="button" class="number one">1</button>
        <button type="button" class="number two">2</button>
        <button type="button" class="number three">3</button>
        <button type="button" class="operator add">+</button>
        <button type="button" class="number zero">0</button>
        <button type="button" class="operator decimal">.</button>
        <button type="button" class="operator equal">=</button>
    </div>
</div>


</body>
</html>